* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/** Body **/
body {
    font-family: 'Open Sans';
    font-size: 1rem;
    width: 90rem;
}


/** Background **/
body {
    background-image: 
        url('images/bg-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    background-color: hsl(257, 40%, 49%);
}


/** Header **/
header, .img-left, main, button, footer {
    position: absolute;
}

header img {
    width: 13.3rem;
    height: 3rem;
    margin: 3.8rem 4.58rem;
}


/** Img left **/
.img-left, img{
    width: 43.8rem;
    height: 30.8rem;
    left: 4.8rem;
    top: 12.5rem;
}


/** Main - Text content **/
main {
    width: 33.3rem;
    height: 18.6rem;
    margin: 15.3rem 52rem;
    color: hsl(0, 0%, 100%);
}

main h1 {
    font-family: 'Poppins';
    font-size: 2.50rem ;
}

main p {
    line-height: 1.8rem;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.1rem;
}



/** Button **/
button {
    width: 13.1rem;
    height: 3.5rem;
    left: -0.063rem;
    top: 15.3rem;
    font-family: 'Open Sans';
    font-size: 1.1rem;
    border-radius: 3.75rem;
    color: hsl(257, 40%, 49%);
    box-shadow: rgba(94, 7, 121, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


button:hover {
    background: hsl(300, 69%, 71%);
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}


/** Footer **/
footer{
    display: flex;
    flex-direction: row;
    width: 10.5rem;
    height: 2.2rem;
    margin: 44.3rem 74.6rem;
}

footer img {
    width: 2.2rem;
    height: 2.2rem;
    margin-inline: 0.3rem;
}

footer img:hover {
    filter: invert(0.29) sepia(0.5) saturate(13.3) hue-rotate(237.6deg) brightness(0.65);
    cursor:pointer;
}



/** Mobile style - adjusment **/
@media (min-width: 375px) and (max-width: 768px) {
    
    body {
        width: 23.4rem;
        height: 50.75rem;
    }
    
    
    body{
        background-image: 
            url('images/bg-mobile.svg');
        background-position: left top;
        background-size: 120%;
    }

    header img {
        width: 10.1rem;
        height: 3.3rem;
        margin: 2rem 0;
    }

	main {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

    .img-left, img {
        width: 23.4rem;
        height: 17.8rem;
        left: 0;
        top: 9.6rem;
    }
/** Main - Text content **/
    main {
        width: 23.3rem;
        height: 15.6rem;
        margin: 30.6rem 0;
        color: hsl(0, 0%, 100%);
        text-align: center;
    }

    main h1 {
        font-size: 1.8rem ;
    }

    main p {
        line-height: 1.8rem;
        margin-top: 18px;
        font-weight: 400;
        font-size: 1.1rem;
        padding: 0 0.3431rem;
    }        

    
    /** Button **/
    button {
        width: 13.1rem;
        height: 3rem;
        left: 4.8rem;
        top: 17.8rem;
        font-size: 0.8rem;
        border-radius: 3.75rem;
    }

    /** Footer **/
    footer{
        display: flex;
        flex-direction: row;
        width: 10.5rem;
        height: 2.2rem;
        margin: 55.8rem 6.6rem;
    }

}